<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<script src=/js/scripts.js>
	// Function to change webpage background color

</script>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body id="body" onload="changeBothBackgrounds()">
	<div class="error-msg">
  <i class="fa fa-times-circle"> Error - please pass id as number</i>
  
</div>
</body>
</html>
