<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://w3.org/1000/xhtml">
<head>
<head th:replace="common/header :: common-header" />
<meta charset="ISO-8859-1">
<title>Random Foxes</title>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>
<script src=/js/scripts.js> </script>

</head>
<body id="body" onload="changeBothBackgrounds()">
	<div th:replace="common/header :: navbar" />
	<div align="center">

		<a href="new" onclick="setUrlNewFox(urlBox.value)">Insert this fox into the database</a> 
		<input id="urlBox" type="hidden" th:value="${randomUrl}"> <br> 
		<img class="img-fluid" th:src="${randomUrl}" alt="...">
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>

</html>

