<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="common/header :: common-header" />
<meta charset="ISO-8859-1">
<title>Edit Fox</title>


<script src=/js/scripts.js>
	// Function to change webpage background color
</script>

</head>

<body id="body" onload="changeBothBackgrounds()">
	<div th:replace="common/header :: navbar" />
	<div align="center">

		<div>
			<label>Change Webpage Background To:</label>
			<input id ="favcolor" type="color" value="#FFFFFF" onchange="changeBc(favcolor.value);">
			
			<br>
			<br>
			<label>Change Navbar Color To:</label>
			<input id ="navcolor" type="color" value="#000000" onchange="changeNav(navcolor.value);">
			<br>
			<br>
			<button type="button" onclick="changeBodyBg(favcolor.value, navcolor.value);" class="btn btn-default">Save</button>
		</div>

	</div>
	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>