<!doctype html>
<html lang="en" xmlns:th="http://w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>My App</title>

<script src=/js/scripts.js></script>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
 <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>

<body id="body" >
	<div th:fragment="navbar" >
		<div>
			<!-- Static navbar -->
			<nav id="navbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" >
				
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Fox and Movie Repository</a>
					</div>
					<div>
						<ul class="nav navbar-nav navbar-left">

							<li class="nav-item"><a class="nav-link" href="/foxTable">View
									Fox table</a></li>
							<li class="nav-item"><a class="nav-link" href="/new">Add
									a new fox</a></li>
							<li class="nav-item"><a class="nav-link" href="/randomFox">Show
									me a random fox</a></li>
							<li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
							<li class="nav-item"><a class="nav-link" href="/movies">Movies</a></li>

						</ul>
						<ul class="nav navbar-nav navbar-right">
						<!-- 	<form class="navbar-form">
								<div class="form-group">
									<input type="text" name="find" class="form-control"
										placeholder="Search something" />
								</div>
								<button type="submit" class="btn btn-default">Search</button> -->


							<form class="form-inline" id="frm1">
								
									<!-- <input type="text" name="fname" placeholder="Search by species or name"> -->
									
									<div class="form-group">
									<input type="text" name="fname" class="form-control"
										placeholder="Search by species or name">
									
									
									<button type="button" onclick="myFunction()" class="btn btn-default">Search</button>
										</div>
								
							</form>	
								
							<!-- </form> -->
							
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>


				<!--/.container-fluid -->
			</nav>
			
			<br>
			<br>
			<br>

		</div>
	
		<div th:fragment="body-bottom-scripts">
 			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
			<script src="/js/bootstrap.min.js"></script>

		</div>

		<body/>
		

			
</html>